.react-select-container {
  margin-bottom: 1rem;
}
.react-select__control {
  min-height: 44px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}
.react-select__multi-value {
  background-color: #e9ecef;
  border-radius: 4px;
}

.custom-quill {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 10px;
}

.custom-quill .ql-toolbar {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.custom-quill .ql-container {
  min-height: 150px;
  max-height: 300px;
  overflow-y: auto;
}
